body {
  background: white;
}
Section {
  min-height: 98vh;
  padding-bottom: 100px;
}

section#contact  {
  min-height: 0;
  padding-bottom: 200px !important;

}
Section#project>h1 {
  border-top: 4px solid black;
}
Section#about>h1 {
  border-top: 4px solid black;
}
Section#contact>h1 {
  border-top: 4px solid black;
}
Section#illustrations-menu>h1 {
font-size: 5em;
padding-top: 0;
margin-top: 100px;
}

#main-menu:target {
  display: block;
  .toggle-menu{
    display:none;
  }
}
#hide:target{
  display: none;
}


#main-menu{
  max-width: 100%;
  transition: 2s all ease;

}
.centrer-menu{
  width: 100%;
  display: flex;
}
.toggle-menu {
  text-align: center;
}

@media (min-width : 640px) {
  #main-menu {
    position: static;
  background: transparent;
display: block;
justify-content: center;
  justify-content: center;
    transition: 2s all ease;
  }

  #main-menu ul {
    display: flex;
    justify-content: space-around;
  width: 100%;
  }
  .toggle-menu {
    display: none;}

}
@media (max-width: 639px) {
  #main-menu{
    display: none;
    pading: 0;
  }


  li{
    display: flex;
    justify-content: center;
  }


  a {
    margin: auto;
    padding: 20px;
  }
}

ul {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}


NAVIGATION ET UL{
  display: flex;
  justify-content: center;
  width: 600px;
}

a:hover {
  color: blue;
}


.acceuil img {
width: 100%;
height: auto;
}
.project-feature-content img {
  width: 320px;
  height: 280px;
}
.project-feature-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-feature {
margin: 1em;
padding: 1em;
flex-basis: 420px;
flex-grow: 0;
flex-shrink: 0;
text-align: center;
}
.project-feature:hover {
box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, .10);
}

.project-feature h2 {
padding-top: 20px;
}

.aboutme img {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.text-aboutme p {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  line-height: 30px;
}

footer {
  text-align: center;
  margin: 20px;
  padding-top: 20px;
  border-top: 1px solid black;
  font-weight: bold;
}
.bouton-return-top {
    border-radius: 50%;
    box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, .10);
    width: 48px;
    height: 48px;
    border-color: grey;
    position: fixed;
    bottom: 60px;
    right: 4%;
}
.illustrations-feature-content {
  display: flex;
  align-items: center;
margin: 200px;
}
.illustrations-text{
padding-left: 100px;
}
.illustrations-feature-content img {
  width: auto;
border: 1px solid black;
  max-height: 600px;
  image-orientation: left;
  background-size: cover;
}
